.wrapper{
    display: flex;
    flex-flow: row wrap;
}
.wrapper>*{
    flex: 1 100%;
    margin: 60px;   
}
.logo{
    font-style: italic;
    position: absolute;
    left: 45%;
    margin-top: 10px;
 
}
.opcKbc{
    margin: 0px;
    position: relative;
    padding-top: 40px;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    p{
        font-family: 'sans-serif';
        font-size: 22px;
    }
}

.btnma{ /*button my account e login*/
    font-size: 20px;
    background: none;
    border: 0;
    cursor: pointer;
    margin-left: 15px;
    font-family: 'sans-serif';
}
.sacola{
    right: 2%;
    border: 0;
    font-size: 30px ;
    background: none;
    cursor: pointer;

}
.text1{
    margin-right: 2%;
}
.header{
    height: fit-content;
    flex-direction: row;
    background-color: rgba(219, 218, 218, 0.1);
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
}
footer{
    height: 170px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.main{
    text-align: left;
    background: rgb(255, 255, 255);
    height: fit-content;
    font-size: 24px;
    margin: 0px;
}

.trade{
    margin-bottom: 1%;
    text-align: center;
    justify-content: center;
    h3{
        font-size: 20px;
        letter-spacing: 1px;
        text-align: center;
        font-weight: 600;
        font-family: 'sans-serif'
    }
}
.btn{
    background-color: hsla(0, 0%, 100%, 0.1);
    border-style: hidden;
    cursor: pointer;
}

.direitos{
    font-size: 22px;
    text-align: center;   
    font-style: italic;
    font-family: 'sans-serif';
}
.buttont{/*botão trade*/
    border: 1px solid #f5f5f5;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 0 5px;
    cursor: pointer;
    transition: .4s;
    line-height: 20%;
}
.buttont:hover{
    border-color: black;
    color: #000;
}
.container{

    display: flex;
    img{
    height: 400px;
    width: 600px;
    margin-left: 85px;
    margin-top: 85px;
    }
}
.info{
    flex-direction: column;
    text-align: left;
    margin-left: 100px;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
    p{
    text-align: left;
    font-family: 'sans-serif';
    font-size: 24px;
    margin: 0;
    padding: 0;
    }
}
.info h2{
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: 'sans-serif';
    font-size: 30px;
}
.card{
    display: flex;
    font-family: 'sans-serif';
    flex-direction: row;
    font-size: 24px;
    i{
        margin-top: 15px;
    }
    p{
        font-weight: 400;
        font-family: 'sans-serif';
        font-size: 22px;
        margin-top: 15px;
        margin-left: 10px;
        font-style: italic;
    }
}
.tamanhos{
    ul{
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
}
}
.tamanhos button{
    margin-right: 10px;
    cursor: pointer;
    border: 1.5px solid #eeee;
    border-radius: 5px;
    background: none;
    font-size: 24px;
    font-family: 'sans-serif';
    transition: 0.5s;
}
.tamanhos button:hover{
    border-color: #000;
    background: none;
}
.qtd{
    margin-left: 0px;
    background: #eee; /*ajustar dps*/
    display: flex;
    align-items: center;
    border-radius: 10px; /*arredonda a borda*/
    overflow: hidden;
    height: 31px;
    width: 75px;
}
 .qtd button{    /*esse button dentro do qtd muda so os botao q tao na div qtd */
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 0 7px;
    font-size: 16px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: 500ms;
&:hover{
        background: #ddd;
    }
}   
.comprar{
    display: flex;
}
.comprar1{
    border: 1px solid transparent;
    margin-left: 10px;
    background: 0;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    background-color: #eee;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    font-family: 'sans-serif';
    font-weight: bold;
    transition: 500ms;
}
.comprar1:hover{
    background: #ddd;
    border-color: #000;
}
.cep input{
    background-color: #eee;
    border: none;
    color: #000000;
    margin: 5px 0;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px;
    width: 100px;
    outline: none;
    font-family:'sans-serif';
    text-align: left;
}
.cep p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'sans-serif';
}
.cep button{
    background-color: #d9d9d9;
    border: 1px solid transparent;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 10px;
    width: 125px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-family:'sans-serif';
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
    transition: 500ms;
    &:hover{
        border-color: #000;
    }
}
.medcom{
    display: flex;
    justify-content: center;
    text-align: center;
    h4{
    margin: 60px 175px 60px 175px;
    justify-content: center;
    font-family: 'sans-serif';
}
}
.info-prod{
    font-family: 'sans-serif';
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 85px;
    p{
        margin-left: 15px;
    }
    h5{
        font-size: 24px;
        margin: 15px 0 15px 15px;
    }
    .p1{
        margin-left: 475px;
    }
}
.vertical-bar {
    width: 1px;
    height: 250px;
    background-color: #00000075; 
    position: absolute;
    left: 50%; 
    top: 100%;
}
.relacionados{
    margin: 75px 0 0 85px;
}
.aside{ 
    display: flex;
    margin-top: 100px;
    margin-left: 22%;
    margin-bottom: 50px;
}
.aside1{
    text-align: center;
 h3{ 
    font-family: 'sans-serif';
    font-size: 20px;
}
img{
    height: 350px;
    width: 250px;
}
}
.aside2{
    text-align: center;
    margin-left: 24.5%;
h3{ 
    font-family: 'sans-serif';
    font-size: 20px;
    }
img{
    height: 350px;
    width: 250px;
    }
}