*{
    margin: 0;
    padding: 0;
    font-style: italic;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.container form {
    width: 700px;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

form .row {
    display: block;
    gap: 15px;
    flex-wrap: wrap;
}

.row .column {
    flex: 1 1 250px;
}

.column .title {
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.column .input-box {
    margin: 15px 0;
}

.input-box span {
    display: block;
    margin-bottom: 5px;
}

.input-box input {
    width: 50%;
    padding: 10px 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    font-size: 15px;
    background-color: #d9d9d9;
    
}


.column .flex {
    display: flex;
    gap: 15px;
}

.flex .input-box {
    margin-top: 5px;
}

.input-box img{
    height: 30px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

form .btn {
    width: 20%;
    padding: 12px;
    background: rgb(0, 0, 0);
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    cursor: pointer;
    transition: .5s;
    margin: 100px;
}

form .btn:hover {
    background-color: #d9d9d9;
    color: rgb(0, 0, 0);
}